<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
            text-align: center;
        }
        a
        {
            background-color: orange;
            color: black;
            font-size: 25px;
            padding: 15px;
            margin: 20px
        }
        </style>
        
    </head>
    <body>
        <h1>Welcome to the admin page</h1>
        <br> <br>
        <a (click)="getMenu()">MENU</a>
        <a (click)="getRestaurant()">RESTAURANT</a>
    </body>
</html>